<!DOCTYPE html>
<html>
  <head>
    <title>Runtime Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Runtime Error</h1>
    <p>Please note that the Github API is rate limited to 60 calls/hours if you are not authenticated. Just <a href=/github-login>login</a> and try again if you are struck by this.</p>
    <p><%= msg %></p>
  </body>
</html>